.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: DarkTurquoise; 
  padding: 5px;
  font-family:Arial;
  color: white;
  vertical-align: middle;
}
.titles{
  float: left;
  font-size: 2.5em;
  text-align: center;
  height: 50px;
  line-height: 65px;
}
.subtitle{
  position: -webkit-sticky;
  position: relative;
  font-size: 2em;
  color: white;
  height: 20%;
  line-height: 50%;
  text-align: center;
  padding: 20px;
}

.subtitle2{
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.contentText{
  /*change container bg*/
  background-color: lightgrey;
}
.contents{
  height: 80%;
  line-height: 50%;
  min-height: 90%; 
/*   height:120px */
  text-align: center;
  vertical-align: middle;
  background-size: 200%;
  background-repeat: no-repeat;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.anchor{
  position:relative;
  top:0;
  border:solid transparent; /*nav highlighting wasn't working otherwise*/
}
i {
  border: solid white;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 7px;
  opacity: 50%;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 80%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 90%;
  margin: 0;
  padding: 0;
}
p{
  color: white;
  text-align: center;
  text-shadow: grey;
  font-size: 30px;
  height: 20%;
  line-height: 25px;
  padding: 5px;
  text-align: center;
}

#link {
  color: white;

}
#link:hover {
   color: #0FF;
}

#twolink{
  color:white;
}

#twolink:hover {
   color: #0FF;
}

a{
  color:white;
}

